RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)$ index.php?url=$1 [QSA]

# Pour appliquer la politiqdu slash de fin
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]

#Rendre accessible la section admin que en local
   RewriteCond %{REQUEST_URI} admin 
   RewriteCond %{HTTP_HOST} !=127.0.0.1
   RewriteCond %{HTTP_HOST} !=localhost
# Ip Andrea
   RewriteCond %{REMOTE_ADDR} !=165.169.60.44
   RewriteRule ^(.*) /


