RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)$ index.php?url=$1 [QSA]

# Pour appliquer la politiqdu slash de fin
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]


