.blocGenre{
    display: inline-block;
}

.genre{
    display: table;
    margin: auto;

}

.genre img{
    width: 400px;
    cursor: pointer;  
    margin-right: 20px; 
}

.genre span{
    position: absolute;
    top: 150%;
    left: 71%;
    transform: translate(-50%, -50%);
}





.imgGenre {
    position: relative;
    text-align: center;
    color: white;
  }
  

.textGenre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textGenre a{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 10px black;
}


/* responsive */
@media all and (max-width: 600px){
    .genre img{
        margin-bottom:20px;
        width:365px;
    }

    .genre{
        text-align: center;
    }
}

 @media all and (max-width: 800px){
    .genre img{
        margin-bottom:20px;
        width:238px;
    }
    .genre{
        text-align: center;
    }
}
@media all and (max-width: 900px){
    .genre img{
        margin-bottom:20px;
        width:238px;
    }
    .genre{
        text-align: center;
    }
}

@media all and (max-width: 1000px){
    .genre img{
        margin-bottom:20px;
        width:238px;
    }
    .genre{
        text-align: center;
    }
}

@media all and (max-width: 1100px){
    .genre img{
        margin-bottom:20px;
        width:330px;
    }
    .genre{
        text-align: center;
    }
} 

@media all and (max-width: 1200px){
    .genre img{
        margin-bottom:20px;
        width:340px;
    }
    .genre{
        text-align: center;
    }
}

@media all and (max-width: 1300px){
    .genre img{
        margin-bottom:20px;
        width:365px;
    }
}
