

.btn-primary{
  background-color: #e76c35;
  border-color: #e76c35;
}

.btn-primary:hover {
  background-color: #e97f50;
  border-color: #e97f50;
}



body{
   margin:0;
   font-family: system-ui;
}

hr{
   border-top: 1px solid #e8e8e8
}



/* Contenu de toutes pages */

#contenu{
   padding: 10px 0;
   color: inherit;
   min-height: 600px;
}


/* AUTRES */

.xdebug-var-dump{
   text-align: left;
}




#utilisateur{
   float: right;
   margin-left: auto;
   
}
#utilisateur a{
    align-items: center;
    align-content: center;
    display: inline-flex;
    color: black;
    margin: 0 10px;
    font-size: 1rem;
}





