/* Cadre des vêtements */
section#catalogue{
   text-align: center;
}

.cadreVet{
   background-color: #f9f9f9;
   min-width: 300px;
   min-height: 500px;
   margin: 10px 20px;
   display: inline-block;
   text-align: left;
   font-size: 0.8rem;
}

.cadreVet:hover{
   border: 1px black solid;
}

.img{
   width: 100%;
   height: 400px;
   background-position: center;
   background-size: 100%;
   cursor: pointer;
}

/* Liste des couelurs */

ul.listeCouleur{
   padding: 0 5px;
}



ul.listeCouleur li{
   list-style-type: none;
   display: flex;
   display: inline-block;
   background-color: white;
   border: 1px solid grey;
   margin: 0 4px;
  

}

ul.listeCouleur li input{
   display: none;
   

}

#listVetement{
   margin-left: 220px;
}

ul.listeCouleur li div.color{
   width: 25px;
   height: 25px;
   display: block;
   margin: 3px 3px;
   cursor: pointer;
   background-position: center;
   
}



.titre{
   color:#909090;
   padding: 6px 2px;
   display: block;
}

/* Autres */
.prix{
   display: block;
   color:#ea0770;
   font-weight: bold;
   font-size: 1.1rem;
   
}


/*  Info */
.cadreVet p{
  margin: 0;
}




.pagination{
   display: table;
   margin: 60px auto 60px auto;
}

.pagination a, .pagination span{
   padding: 4px;
   background-color: #da8e1c;
   color: white;
   margin: 3px;
   text-decoration: none;
   min-width: 15px;
   display: inline-block;
}

.pagination span{
   padding: 2px;
   background-color: white;
   color: #bd7811;
   border: solid 2px #e09b33;
}


 
/* Navigation */




#navCatalogue{
   position: absolute;
   min-width: 200px;
   min-height: 100vh;
   padding: 8px;
}

input[type="checkbox"]:checked  {
   color:red;
}

#navCatalogue li{
   list-style-type: none;
   text-decoration: none;
}

#navCatalogue ul{
   padding: 0;
}

#navCatalogue h3{
   margin-top: unset;
}


/* The container */
.container {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 1rem;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 

 .container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 

 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #e0e0e0;
   transform: scale(0.78);
 }
 

 .container:hover input ~ .checkmark {
   background-color: #ccc;
 }
 

 .container input:checked ~ .checkmark {
   background-color: #e76c35;
 }
 
 
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 

 .container input:checked ~ .checkmark:after {
   display: block;
 }
 

 .container .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }

