





#exampleFormControlTextarea1{
    width: 475px;
}

.form-group{
    width: 200px;
    display: inline-block;
} 



.infoContact{
    text-align: center;
}

.infoContact ul{
    list-style: none;
    padding-left: 0px;
}

.contact{
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: #8080801f;
    border-radius: 20px;
}

p{
    text-align: center;
}

.mail, .objet{
    margin-left: 75px;
}

@media all and (max-width:600px){
    .contact{
        width:466px;
        margin:auto;
    }

    #exampleFormControlTextarea1 {
        width: 446px;
    }

    .mail, .objet{
        margin-left: 25px;
    }
}

@media all and (max-width:500px){
    .contact{
        width:350px;
        margin:auto;
        text-align: center;
    }

    #exampleFormControlTextarea1 {
        width: 200px;;
        
    }

   .form-group{
        width: 200px;
   }

   .mail, .objet{
        margin-left: 0px;
    }

}
