




.form-control{
    /* width: auto;
    margin: auto; */
}

#exampleFormControlTextarea1{
    /* width: 270px;
    margin: auto; */
    width: 475px;
}

.form-group{
    /* text-align: center;*/
    width: 200px;
    display: inline-block;
} 

hr{
    width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.infoContact{
    text-align: center;
}

.infoContact ul{
    list-style: none;
}

.contact{
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: #8080801f;
    border-radius: 20px;
}

p{
    text-align: center;
}

@media all and (max-width:600px){
    .contact{
        width:466px;
        margin-left: 13px;
    }

    #exampleFormControlTextarea1 {
        width: 446px;
    }
}