#navCateg{
   display: none;
}

header{
   display:none;
}

.erreur{
   text-align: center;
   margin-top: 100px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}

.erreur input{
   margin-top: 50px;
   padding: 10px;
}

.erreur input:hover{
   transform: scale(1.1);
} 

.erreur h1{
   font-size: 7rem;
   font-weight: bold;
}

.erreur h3{
   margin-top: 20px;
   font-weight: bold;
}

.erreur p{
   font-size: 15px;
}