/* @media (min-width: 576px){
  .col-sm {
      max-width: 100%!important;
}
}

.list-group-item, .list-group{
  height: 100%;
}





ul .list-group-item{
  border: none;
  padding: 0;


}


#contenu{
   background-color: #efefef;;
}
.img{
   width: 120px;

   background-position: center;
   background-size: 100% 100%;
   cursor: pointer;
   background-repeat: no-repeat;

}

div#listeAricle {
   background-color: white;
   display: inline-block;
}

div#listeAricle div.infoArticle{

   display: block;
}

/* -------------- */
/*
.panier {

   background: #FFFFFF;
   box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
   border-radius: 6px;

 }

 .title {
   height: 60px;
   border-bottom: 1px solid #E1E8EE;
   padding: 20px 30px;
   color: #5E6977;
   font-size: 18px;
   font-weight: 400;
 }


  
 .article {
   padding: 20px 30px;
   height: 160px;
   display: flex;
   box-sizing: content-box;
   position: relative;
 }
  
 .article:nth-child(3) {
   border-top:  1px solid #E1E8EE;
   border-bottom:  1px solid #E1E8EE;
 }

 .buttons {
   position: relative;
   padding-top: 30px;

 }
 .delete-btn,
 .like-btn {
   display: inline-block;
   Cursor: pointer;
 }
 .delete-btn {
   width: 18px;
   height: 17px;
   background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
 }
  
 .like-btn {
   position: absolute;
   top: 9px;
   left: 15px;
   background: url('twitter-heart.png');
   width: 60px;
   height: 60px;
   background-size: 2900%;
   background-repeat: no-repeat;
 }

 .is-active {
   animation-name: animate;
   animation-duration: .8s;
   animation-iteration-count: 1;
   animation-timing-function: steps(28);
   animation-fill-mode: forwards;
 }
  
 @keyframes animate {
   0%   { background-position: left;  }
   50%  { background-position: right; }
   100% { background-position: right; }
 }

 .image {
   margin-right: 50px;
 }
  

 .description {
   padding-top: 10px;
   margin-right: 60px;
   width: 115px;
   position: relative;
 }
 .deleteArticle{
   position: absolute;
   right: 0;
   top: 0 ;
 }
  
 .description span {
   display: block;
   font-size: 14px;
   color: #43484D;
   font-weight: 400;
 }
  
 .description span:first-child {
   margin-bottom: 5px;
 }
 .description span.categ {
   font-weight: 300;
   margin-top: 8px;
   color: #86939E;
 } */

 /* .description span.taille {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;

}

 .quantity {
   margin-right: 60px;
   display: flex;
   align-items: center;
 }
 .quantity input {
   -webkit-appearance: none;
   border: none;
   text-align: center;
   width: 40px;
   font-size: 16px;
   color: #43484D;
   font-weight: 300;
 }
  
 button[class*=btn] {
   width: 30px;
   height: 30px;
   background-color: unset;
   border-radius: 6px;
   border: none;
   cursor: pointer;
 }

 button[class*=btn] svg{
   color:#6f6f6f;
 }
 

 .minus-btn img {
   margin-bottom: 3px;
 }
 .plus-btn img {
   margin-top: 2px;
 }
  
 button:focus,
 input:focus {
   outline:0;
 }

 .total-price {
   width: 83px;
   padding-top: 27px;
   font-size: 16px;
   color: #43484D;
   font-weight: 300;
 }

 @media (max-width: 800px) {
   .col-lg-9{
    max-width: 500px;
    margin: auto;
   }

   .panier {
     width: 100%;
     height: auto;
     overflow: hidden;
    
   }

   .panier span.taille{
    position: relative;
    text-align: center;
    display: block;
   }

   .article {
     height: auto;
     flex-wrap: wrap;
     justify-content: center;
     position: relative;
   }

   .image,
   .quantity,
   .description {
     width: 100%;
     text-align: center;
     margin: 0;
     display: block;
     
   }

  
      .buttons {
     margin-right: 20px;
   }
 }


div.color{
  width: 25px;
  height: 25px;
  margin: 3px 3px;
  border: 1px solid grey;
  cursor: pointer;
  padding: 3px 3px;
  background-position: center;
  display: block;
  margin-right: auto;
  
}

div#infoCommande{
  margin: 80px auto;

}

section#panier{
  display: flex;
}

.article_hide{
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0;
  -webkit-transition: opacity 600ms, visibility 600ms, height 800ms, padding 800ms;
  transition: opacity 600ms, visibility 600ms, height 800ms, padding 800ms;
  }

  .article_hide img{
    height: 0;
  }

  .panierVide{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 2.2rem;
  }

  .panierVide a{
    color: #e76c35;
    font-size: 1.5rem;
    font-weight: bold;
  }


  .list-group-item{
    display: flex;
    }
     .colonne{
    margin: 5px
    }



 */



    body{margin-top:20px;}
.cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}



.quantity {
  margin-right: 60px;
  display: flex;
  align-items: center;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 40px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.quantity button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: unset;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.quantity button[class*=btn] svg{
  color:#6f6f6f;
}


.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
.quantity button:focus,
input:focus {
  outline:0;
}

.article_hide{
  opacity: 0!important; 
  visibility: hidden!important; 
  height: 0!important; 
  padding: 0!important; 
  -webkit-transition: opacity 600ms, visibility 600ms, height 800ms, padding 800ms;
  transition: opacity 600ms, visibility 600ms, height 800ms, padding 800ms;
  }

  .article_hide img{
    height: 0!important; 
  }

