#contenu{
   max-width: 1470px;
   margin: auto;
}
.cadre{
   display: flex;
   margin-top: 30px;
}

.img{
   margin: auto;
   display: inline-block; 

}

.img img{
   width: 500px;
}

.infoVet{
   margin-top: 30px;
   display: inline-block;
   padding: 10px;
}



.infoVet select{
   padding: 3px;
   border: 1px solid #c7c1c1;
   border-radius: 3px;
}

.infoVet label{
   font-size: 18px;

}

.infoVet input[type="number"]{
   border: 1px solid #c7c1c1;
   border-radius: 3px;
}

.infoVet input[type="button"]:hover{
   transform: scale(1.1);
}

.infoVet h3{
   color: #e76c35;
   font-size: 35px;
   display: inline-block;
}


#taille li, #couleur li{
   list-style-type: none;
   
}

#taille li{
   border: 1px solid black;
   margin-right: 10px;
   padding: 4px;
}

#vetementChoisi ul{
   display: inline-flex;
}


#quantite{
   width: 30px;
   margin-left: 10px;
}

#ajouterPanier{
   background-color: #252525;
   color: white;
   margin-left: 20px;
   padding: 5px;
   width: 200px;
   height: 50px;
   font-size: 1rem;
   border-radius: 3px;
   border: 1px solid #c7c1c1;
   cursor: pointer;
   position: relative;
   float: right;
   margin-top: 36px;
}

ul.listeCouleur li label{
   width: 25px;
   height: 25px;
   display: inline-block;
   margin: 3px 3px;
   cursor: pointer;
   background-position: center;
}

ul.listeCouleur li{
   list-style-type: none;
   display: inline-flex;
   background-color: white;
   border: 1px solid grey;
   margin: 0 4px;
} 


/***********************/
/********COMMENTAIRES***/
/***********************/

.avis textarea{
   border: none;
   background-color: #80808017;
   padding: 10px;
   border-radius: 5px;
   height: 165px;
   width: 430px;
}

.avis input[type="submit"]{
   padding: 3px 7px 3px 7px;
   background-color: coral;
   border: none;
   border-radius: 5px;
   color: white;
   cursor: pointer;
}


.blocAvis{
   margin: 30px 0 0 0;
   position: relative;
   display: block;
}

.contenuBloc{
   padding: 0 0 10px 90px;
   background-color: #80808017;
   border-radius: 20px;
}

.date{
   color: #888;
    font-weight: 500;
    margin: 0;
    float: none;
    display: block;
    text-align: left;
    font-size: 13px;
}

.info{
   width: 100%;
   padding-bottom: 8px;
   font-weight: 600;
   color: #333;
   font-size: 17px;
   padding-top: 10px;
}

.info p{
   margin-bottom: 10px;
   color: coral;
   margin-top: 0px;
   display: inline-block;
}

.info .note{
   display: inline-block;
   margin-left: 10px;
}

.contenuComm{
   margin: 3px 0 0 0;
   line-height: 26px;
   padding: 5px 0;
}

.listeAvis{
   padding: 0px 30px;
}

.avis .donnerAvis{
   padding: 0 0 10px 30px;
}


/* responsive */
@media all and (max-width: 700px){
   .cadre{
      display: block;
      margin-top: 30px;
   }

   .avis .donnerAvis{
      padding: 0 0 10px 30px;
      text-align:center;
   }

   .avis h2{
      text-align:center;
   }
}