#contenu{
   max-width: 1470px;
   margin: auto;
}
.cadre{
   display: flex;
   margin-top: 30px;
}

.img{
   margin: auto;
   display: inline-block; 

}

.img img{
   width: 500px;
}

.infoVet{
   margin-top: 30px;
   display: inline-block;
   padding: 10px;
}



.infoVet select{
   padding: 3px;
   border: 1px solid #c7c1c1;
   border-radius: 3px;
}

.infoVet label{
   font-size: 18px;

}

.infoVet input[type="number"]{
   border: 1px solid #c7c1c1;
   border-radius: 3px;
}

.infoVet input[type="button"]:hover{
   transform: scale(1.1);
}

.infoVet h3{
   color: #e76c35;
   font-size: 35px;
   display: inline-block;
}


#taille li, #couleur li{
   list-style-type: none;
   
}

#taille li{
   border: 1px solid black;
   margin-right: 10px;
   padding: 4px;
}

#vetementChoisi ul{
   display: inline-flex;
}


#quantite{
   width: 30px;
   margin-left: 10px;
}

#ajouterPanier{
   background-color: #252525;
   color: white;
   margin-left: 20px;
   padding: 5px;
   width: 200px;
   height: 50px;
   font-size: 1rem;
   border-radius: 3px;
   border: 1px solid #c7c1c1;
   cursor: pointer;
   position: relative;
   float: right;
   margin-top: 36px;
}


/***********************/
/********COMMENTAIRES***/
/***********************/
.blocCommentaire{
   display: flex;
   width: 500px;
   border: none;
   background-color: red;
   padding: 10px;
   border-radius: 10px;

}

.commentaire{
   border-style:dotted;
	border-width:thin;
	border-color:#1A7BA7;
	padding:20px;
}

.commentaire textarea{
   border: none;
   background-color: #80808038;
   padding: 10px;
   border-radius: 5px;
}

.commentaire input[type="submit"]{
   padding: 7px;
   background-color: coral;
   border: none;
   border-radius: 5px;
   color: white;

}

