.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #333;
  color: #fff;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}



@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

 
@media screen and (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.sidebar h5{
  padding: 16px;
 
}
