body{margin-top:20px;
    background:#eee;
    }
    

.message-wrapper {
  position: relative;
  padding: 0px;
  background-color: #ffffff;
  margin: 0px;
}

.message-wrapper .message-sideright[class*="col-"] {
  padding: 30px;
}

.message-wrapper .media small {
  color: #999999;
  font-weight: 400;
}

.col-md-8{
  flex: unset;
  max-width: unset;
}